In [23]:
# q1

# drop:
# df.drop('a',axis=0,inplace=True)

# merge:
# dp.describe()

# append:
# df.append(dk)

#reset_index():
# dk.reset_index()

# concate:
# pd.concat([df,dk])

In [238]:
# q2
# import pandas as pd

# def reindex_with_custom_increment(df):
#     new_index = pd.Index(range(1, 2 * len(df) + 1, 2)) 
#     df.index = new_index 
# data = {'A': [10, 20, 30], 'B': [40, 50, 60], 'C': [70, 80, 90]}
# df = pd.DataFrame(data)
# reindex_with_custom_increment(df)
# print(df)

    A   B   C
1  10  40  70
3  20  50  80
5  30  60  90

In [115]:
#q3
# import pandas as pd
# df=pd.DataFrame({'values':[1,2,3,4,5,6,7,8]})
# def sum(df):
#     print(df.head(3)['values'].sum())
# sum(df)

6

In [104]:
# q4
# df=pd.DataFrame({'text':['my','name','is','khan']})
# df['Word_Count']=df['text'].apply(lambda x:len(x))
# df

   text  Word_Count
0    my           2
1  name           4
2    is           2
3  khan           4

In [ ]:
# q5
# DataFrame.size gives the total number of elements in the DataFrame (rows * columns).
#     DataFrame.shape gives a tuple representing the dimensions of the DataFrame in terms of rows and columns.

In [ ]:
# q6
# df1=read_excel("file.xlsx")

In [138]:
# q7
# def usern(x):
#     a=''
#     for i in (x):
#         if i=='@':
#             break
#         else:
#             a=a+i
#     return a
            
# df=pd.DataFrame({'email':['prk@gmail.com','sudh@gamil.com','rohit@gmail.com','khan@gmail.com']})
# df['username']=df['email'].apply(usern)
# df

             email username
0    prk@gmail.com      prk
1   sudh@gamil.com     sudh
2  rohit@gmail.com    rohit
3   khan@gmail.com     khan

In [145]:
# q8
# import pandas as pd
# df=pd.DataFrame({'a':[3,8,6,2,9],'b':[5,2,9,3,1],'c':[1,7,4,5,2]})
# df[(df['a']>5) & (df['b']<10)]

   a  b  c
1  8  2  7
2  6  9  4
4  9  1  2

In [151]:
# q9
# import pandas as pd
# df=pd.DataFrame({'values':[1,2,3,4,5,6,7,8]})
# print(df['values'].mean())
# print(df['values'].median())
# print(df['values'].std())

4.5
4.5
2.449489742783178

In [202]:
# q10

# date=pd.date_range(start='2023-01-01',end='2023-01-05')
# d=pd.DataFrame({'date':list(date)})
# def datename(x):
#     l=['monday','tuesday','wednesday','thursday','friday','saturday','sunday']
#     return l[x]
# d['day']=d['date'].dt.weekday.apply(datename)
# d

        date        day
0 2023-01-01     sunday
1 2023-01-02     monday
2 2023-01-03    tuesday
3 2023-01-04  wednesday
4 2023-01-05   thursday

In [233]:
# q11
# date=pd.date_range(start='2022-01-01',end='2024-01-05')
# d=pd.DataFrame({'date':list(date)})
# d['date'][(d['date'].dt.month==1) & (d['date'].dt.year==2023) & (d['date'].dt.day>1) & (d['date'].dt.day<31)]

366   2023-01-02
367   2023-01-03
368   2023-01-04
369   2023-01-05
370   2023-01-06
371   2023-01-07
372   2023-01-08
373   2023-01-09
374   2023-01-10
375   2023-01-11
376   2023-01-12
377   2023-01-13
378   2023-01-14
379   2023-01-15
380   2023-01-16
381   2023-01-17
382   2023-01-18
383   2023-01-19
384   2023-01-20
385   2023-01-21
386   2023-01-22
387   2023-01-23
388   2023-01-24
389   2023-01-25
390   2023-01-26
391   2023-01-27
392   2023-01-28
393   2023-01-29
394   2023-01-30
Name: date, dtype: datetime64[ns]

In [ ]:
# q12
# pandas